<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.XiaofeiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Xiaofei">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="kefangbianhao" jdbcType="VARCHAR" property="kefangbianhao" />    <result column="kefangleixing" jdbcType="VARCHAR" property="kefangleixing" />    <result column="lvkebianhao" jdbcType="VARCHAR" property="lvkebianhao" />    <result column="lvkexingming" jdbcType="VARCHAR" property="lvkexingming" />    <result column="xiaofeimingcheng" jdbcType="VARCHAR" property="xiaofeimingcheng" />    <result column="feiyong" jdbcType="VARCHAR" property="feiyong" />    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, kefangbianhao,kefangleixing,lvkebianhao,lvkexingming,xiaofeimingcheng,feiyong,beizhu, addtime
  </sql>
  <select id="quchongXiaofei"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from xiaofei 
    where kefangbianhao = #{kefangbianhao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from xiaofei  where 1=1
    <if test="kefangbianhao!=null">and kefangbianhao like  concat('%',#{kefangbianhao,jdbcType=VARCHAR},'%')</if>     <if test="kefangleixing!=null">and kefangleixing like  concat('%',#{kefangleixing,jdbcType=VARCHAR},'%')</if>     <if test="lvkebianhao!=null">and lvkebianhao like  concat('%',#{lvkebianhao,jdbcType=VARCHAR},'%')</if>     <if test="lvkexingming!=null">and lvkexingming like  concat('%',#{lvkexingming,jdbcType=VARCHAR},'%')</if>     <if test="xiaofeimingcheng!=null">and xiaofeimingcheng like  concat('%',#{xiaofeimingcheng,jdbcType=VARCHAR},'%')</if>     <if test="feiyong!=null">and feiyong like  concat('%',#{feiyong,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from xiaofei  where 1=1
    <if test="kefangbianhao!=null">
    and kefangbianhao =#{kefangbianhao}
    </if>
  </select>
  
  <select id="getsyxiaofei1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from xiaofei  where 1=1
    limit 0,5
  </select>
  <select id="getsyxiaofei2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from xiaofei  where 1=1
    limit 0,5
  </select>
  <select id="getsyxiaofei3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from xiaofei  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from xiaofei where 1=1 
     <if test="kefangbianhao!=null">and kefangbianhao like  concat('%',#{kefangbianhao,jdbcType=VARCHAR},'%')</if>     <if test="kefangleixing!=null">and kefangleixing like  concat('%',#{kefangleixing,jdbcType=VARCHAR},'%')</if>     <if test="lvkebianhao!=null">and lvkebianhao like  concat('%',#{lvkebianhao,jdbcType=VARCHAR},'%')</if>     <if test="lvkexingming!=null">and lvkexingming like  concat('%',#{lvkexingming,jdbcType=VARCHAR},'%')</if>     <if test="xiaofeimingcheng!=null">and xiaofeimingcheng like  concat('%',#{xiaofeimingcheng,jdbcType=VARCHAR},'%')</if>     <if test="feiyong!=null">and feiyong like  concat('%',#{feiyong,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xiaofei
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xiaofei
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Xiaofei">
    insert into xiaofei (id, kefangbianhao,kefangleixing,lvkebianhao,lvkexingming,xiaofeimingcheng,feiyong,beizhu, addtime)
    values (#{id,jdbcType=INTEGER}, #{kefangbianhao,jdbcType=VARCHAR},#{kefangleixing,jdbcType=VARCHAR},#{lvkebianhao,jdbcType=VARCHAR},#{lvkexingming,jdbcType=VARCHAR},#{xiaofeimingcheng,jdbcType=VARCHAR},#{feiyong,jdbcType=VARCHAR},#{beizhu,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Xiaofei">
    insert into xiaofei
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="kefangbianhao != null"> kefangbianhao, </if>      <if test="kefangleixing != null"> kefangleixing, </if>      <if test="lvkebianhao != null"> lvkebianhao, </if>      <if test="lvkexingming != null"> lvkexingming, </if>      <if test="xiaofeimingcheng != null"> xiaofeimingcheng, </if>      <if test="feiyong != null"> feiyong, </if>      <if test="beizhu != null"> beizhu, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kefangbianhao != null"> #{kefangbianhao,jdbcType=VARCHAR},</if>      <if test="kefangleixing != null"> #{kefangleixing,jdbcType=VARCHAR},</if>      <if test="lvkebianhao != null"> #{lvkebianhao,jdbcType=VARCHAR},</if>      <if test="lvkexingming != null"> #{lvkexingming,jdbcType=VARCHAR},</if>      <if test="xiaofeimingcheng != null"> #{xiaofeimingcheng,jdbcType=VARCHAR},</if>      <if test="feiyong != null"> #{feiyong,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Xiaofei">
    update xiaofei
    <set>
	  <if test="kefangbianhao != null"> kefangbianhao = #{kefangbianhao,jdbcType=VARCHAR},</if>      <if test="kefangleixing != null"> kefangleixing = #{kefangleixing,jdbcType=VARCHAR},</if>      <if test="lvkebianhao != null"> lvkebianhao = #{lvkebianhao,jdbcType=VARCHAR},</if>      <if test="lvkexingming != null"> lvkexingming = #{lvkexingming,jdbcType=VARCHAR},</if>      <if test="xiaofeimingcheng != null"> xiaofeimingcheng = #{xiaofeimingcheng,jdbcType=VARCHAR},</if>      <if test="feiyong != null"> feiyong = #{feiyong,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> beizhu = #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Xiaofei">
    update xiaofei
    set kefangbianhao = #{kefangbianhao,jdbcType=VARCHAR},kefangleixing = #{kefangleixing,jdbcType=VARCHAR},lvkebianhao = #{lvkebianhao,jdbcType=VARCHAR},lvkexingming = #{lvkexingming,jdbcType=VARCHAR},xiaofeimingcheng = #{xiaofeimingcheng,jdbcType=VARCHAR},feiyong = #{feiyong,jdbcType=VARCHAR},beizhu = #{beizhu,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
